@model Web_API.Models.Customer


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <body style=" background-image: url('../images/Flight_Home_Screen.jpg'); height: 100%; background-position: center; background-size: cover; background-position:fixed; background-repeat: no-repeat; ">
            <div style="justify-content: center;">
                <form style="background: gainsboro;height:35em" @*action="/Login/validateuser"*@ method="post">
                    <table style=" background: transparent" height="300" width="300">
                        <tr><h1 style="padding-top: 5%;color:white; ">Welcome to Registration Page</h1></tr>
                        <tr>
                            <td> @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" }) </td>
                            <td>
                                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td style="color:red">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="Register" style="width: 10em; height: 3em; background: turquoise" /></td>

                        </tr>
                    </table>
                </form>
            </div>
        </body>
    </div>
}
@ViewBag.Successmessage
@ViewBag.userAlreadymessage
@ViewBag.MobileLengthmessage
@ViewBag.MobileExistmessage
@ViewBag.EmailExistmessage

