@model Web_API.Models.Customer


<style>
    #background {
        background-image: url(../images/Enterance.jpg);
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: 100% 804%;
    }

    #form_registration {
        background: #312A24;
        width: 34%;
        border-radius: 7%;
        height: 0%;
        position: fixed;
        left: 2%;
        top: 32%;
        color: #000000
    }

    #textbox {
        height: 30px;
        border-radius: 6px;
        box-sizing: border-box;
    }

    #loginbutton {
        width: 10em;
        height: 3em;
        background: darkgray;
        border-radius: 10px;
        box-sizing: border-box;
        font-family: cursive;
    }
    #home_btn, a:-webkit-any-link {
        color: #000000;
        width: fit-content;
    }
    
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table >
        <tr>
            <h2 id="home_btn">@Html.ActionLink("Home", "HomePage")</h2>  
        </tr>
    </table>
    <body id="background">
        <div class="form-horizontal" id="form_registration">
            <table style="font-size: 24px; font-family: cursive;">
                <tr>
                    <h1 style="text-align:center">Login</h1>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td style="padding-left:3%">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @id = "textbox" } })
                    </td>
                    <td style="color:red; padding-left: 3%;padding-top: 4%;">
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td style="padding-left:3%">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "textbox", @type = "password" } } )
                    </td>
                    <td style="color:red; padding-left: 3%;padding-top: 4%;">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="2" align="center" style="padding-top: 3%; padding-left: 36%;">
                        <input type="submit" value="Login" class="btn btn-default" id="loginbutton" style="text-align:center" />
                    </td>
                </tr>

            </table>
            <div style="text-align: center; color: red;">
                <tr>
                    @ViewBag.message
                </tr>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                            @Html.ActionLink("Back to list", "Index")
                        </td>
                    </tr>
                </table>
            </div>
</body>

}
